apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: streamflow-analytics
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: streamflow
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/arthurmaiagraf/streamflow-analytics.git
    targetRevision: main
    path: k8s
    kustomize:
      commonLabels:
        managed-by: argocd

  destination:
    server: https://kubernetes.default.svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=false
      - PrunePropagationPolicy=foreground
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 3
      backoff:
        duration: 30s
        factor: 2
        maxDuration: 3m

  ignoreDifferences:
    - group: flink.apache.org
      kind: FlinkDeployment
      jsonPointers:
        - /status
